.top-about {
    padding-top: 40px;
    width: 35%;
    margin-left: 200px;
}

.top-about .head-lose h3 {
    color: #0a5282;
    margin-left: 50px;
}

.top-about .head-lose hr {
    margin-left: 50px;
}

.top-about .head-lose p {
    margin-left: 50px;
}

.top-about .head-lose .pi-img {
    border: 1px solid grey;
    width: 550px;
    height: 290px;
    background-color: #f6f6f6;
    margin-left: 50px;
    display: flex;
}

.top-about .head-lose .pi-img .scnd-title {
    color: #0a5282;
}

.top-about .head-lose .pi-img img {
    display: flex;
}

.top-about .head-lose .pi-img .in-pi {
    width: 350px;
    height: 240px;
    margin: auto;
}

.top-about .head-lose .pi-img .in-pi h4 {
    color: #0a5282;
    font-size: 16px;
    font-weight: bold;
}

.top-about .head-lose .pi-img .in-pi p {
    margin-left: 0px;
}

.top-about .membership {
    margin-left: 50px;
}

.top-about .membership h4 {
    color: #0a5282;
    font-size: 16px;
    font-weight: bold;
}

.top-about .dont {
    margin-left: 50px;
}

.top-about .dont h4 {
    color: #0a5282;
    font-size: 16px;
    font-weight: bold;
}

.top-about .dont .wait {
    border: 1px solid #e6e6e6;
    height: 200px;
    width: 550px;
    background-color: #f6f6f6;
}

.top-about .dont .wait {
    display: flex;
}

.top-about .dont .wait .in-wait {
    width: 80%;
    height: 80%;
    margin: auto;
}

.top-about .dont .wait .in-wait .but {
    color: #f6f6f6;
    text-align: center;
    font-size: 13px;
    border: 1px solid #408140;
    border-radius: 5px;
    background-color: #51a351;
    margin-left: 30%;
}

.fmain {
    margin-top: 30px;
    width: 100%;
    background-color: #F6F6F8;
}

.fmain .foot-tags {
    text-align: center;
    padding-top: 40px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}

.fmain .foot-tags a {
    text-decoration: none;
    color: #0066EE;
    margin-left: 5px;
}

.fmain .selector {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 15px;
}

.fmain .last-para {
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}