.fitfootmain {
    width: 100%;
    background-color: #F6F6F8;
}

.fitfootmain .foot-tags {
    text-align: center;
    padding-top: 40px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}

.fitfootmain .foot-tags a {
    text-decoration: none;
    color: #0066EE;
    margin-left: 5px;
}

.fitfootmain .selector {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 15px;
}

.fitfootmain .last-para {
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}