*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: montserrat;
}
.nav{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.nav img{
    margin-left: 150px;
    height: 12vh;
}
.right{
    margin-top: 30px;
    margin-right: 35px;
}
.right a{   
    color: blue;
}
nav{
    height: 60px;
    width: 100%;
    background: rgb(47, 143, 233);
}
nav ul{
    float: left;
    margin-left: 140px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    margin-bottom: 20px;
    line-height: 60px;
}
nav a{
    color: white;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 15px;
    border-radius: 3px;
}
a:hover{
    border: 1px solid white;
    transition: .5s ease;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 60px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#Container{
    background: url('https://www.myfitnesspal.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-collage-top-large%402x.dcc5ac56.png&w=1200&q=75') no-repeat;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    width:100%;
    height: 100vh;
    padding-top: 100px;
}
.main{
    display: inline-block;
    margin-left:  160px;
    
}
.subdiv{
    width: 50%;
    margin-top: -40px;
    padding-bottom: 20px;
}
.subdiv h1{
    margin-right: 80px;
    font-size: 70px;
}
.subdiv p{
    margin-top: 10px;
    margin-right: 80px;
    font-size: 20px;
    padding: 5px;
}
.subdiv button{
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    width: 50%;
    height: 8vh;
    background-color: #3498db;
}
.subdiv button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: none;
}
.subdiv button:hover{
    border: 1px solid white;
    transition: .5s ease;
}
.subdiv-2{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
}
.subdiv-2 a{
    text-decoration: none;
    margin-left: 10px;
    border: none;
}
.line{
    height: 1vh;
    align-items: center;
    background-color: rgb(253, 253, 14);
}
.line hr{
    background-color: white;
    height: 1vh;
    margin: 0 140px;
    border: none;
}
#container-2{
    background: url('https://www.myfitnesspal.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-collage-search-bottom-large%402x.34b86b17.png&w=1200&q=75');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    width:100%;
    height: 10vh;
    padding-top: 250px;
}
.main-2{
    margin-top: -285px;
    display: flex;
    flex-direction: column ;
    text-align: center;
    margin-left:  80px;
    
}
.bottom{
    margin-left:  140px;
    width: 50%;
}
.bottom h2{
    font-size: 60px;

}
.bottom p{
    font-size: 20px;
    margin: 40px;
}
.bottom-2 i{
    position: absolute;
    
}
.bottom-2{
    width: 50%;
    margin-bottom: 10px;
    margin-left: 160px;
}
#input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 20px;
}
.icon {
    padding: 10px;
    min-width: 40px;
}
@media (max-width:1048px) {
    nav ul{
    margin-right:20px
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width:909px) {
    nav #icon{
        display:block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        right: 0;
    }
}
