#appspage {
    width: 100%;
}

.maindiv {
    width: 45%;
    height: 250px;
    position: absolute;
    left: 40%;
    top: 20%;
    transform: translate(-50%, -50%);
    background-image: url('https://dakd0cjsv8wfa.cloudfront.net/images/api_clients/0/api_clients_229_2_10_0_74866.png');
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 9s infinite linear;
    margin: auto;
}

@keyframes slider {
    0% {
        background-image: url('https://dakd0cjsv8wfa.cloudfront.net/images/api_clients/0/api_clients_229_2_10_0_74866.png');
    }
    35% {
        background-image: url('https://dakd0cjsv8wfa.cloudfront.net/images/api_clients/0/api_clients_102_2_10_0_2751.png');
    }
    75% {
        background-image: url('	https://dakd0cjsv8wfa.cloudfront.net/images/api_clients/0/api_clients_30_2_10_0_90706.png');
    }
}

.input-icons i {
    position: absolute;
    margin: 10px;
}

.input-icons {
    margin-left: 50px;
    width: 60%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.navbar {
    bottom: 65%;
    margin-bottom: 50px;
    position: absolute;
    right: 50px;
    height: 150px;
    background-color: white;
    text-align: left;
    transition: 0.800s ease;
}

.navbar>.side-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-items {
    display: flex;
}

.nav-items>.nave-link {
    margin-top: 30px;
    text-decoration: none;
    color: blue;
    font-size: 1.1em;
    padding: 1em;
    flex: 1;
}

.nav-items>.site {
    margin-bottom: -40px;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 1em;
    flex: 1;
}

.nav-items>.nave-link:hover {
    background-color: rgb(179, 144, 144);
    color: black;
}

.main {
    display: block;
}

#container {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}

#app {
    margin-left: 10%;
    width: 65%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    min-height: 400px;
}

.head {
    margin-left: 10%;
    width: 65%;
    margin-top: 300px;
}

#app>div {
    display: flex;
    border-radius: 20px;
}

img {
    margin: 20px 10px;
    width: 30%;
    height: 15vh;
    border-radius: 10px;
}

p {
    margin: 20px;
    text-align: left;
}

h5 {
    margin: 20px;
    text-align: left;
}

.cartbtn {
    background-color: teal;
    color: white;
    border: 0;
    display: block;
    margin-bottom: 80px;
    margin-left: 20px;
    padding: 5px 0;
    border-radius: 5px;
    width: 80%;
}

#cartpage {
    background-color: beige;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#cartpage>a {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: rgb(231, 228, 228);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.foot {
    margin-top: 40px;
    margin-left: 22%;
}

.foot p {
    padding-left: 80px;
    padding-top: 10px;
    text-align: center;
}

.ull {
    display: flex;
}

.ull li {
    list-style: none;
}

.ull a {
    margin-left: 40px;
    text-decoration: none;
}

.ull a:hover {
    color: orange;
}

#name {
    width: 10%;
    margin: 40px 60px;
    height: 4vh;
}

.side-nav {
    /* border: 2px solid red; */
    width: 110%;
    text-align: left;
    margin-left: -20%;
}